#pragma code_page(65001)

#include <windows.h>

#include "resource.h"
#include "svm_version_resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SVM_VERSION_FILE_VERSION
 PRODUCTVERSION SVM_VERSION_PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", SVM_VERSION_COMPANY_NAME_STR
            VALUE "FileDescription", SVM_VERSION_FILE_DESCRIPTION_STR
            VALUE "FileVersion", SVM_VERSION_FILE_VERSION_STR
            VALUE "InternalName", SVM_VERSION_INTERNAL_NAME_STR
            VALUE "OriginalFilename", SVM_VERSION_ORIGINAL_FILENAME_STR
            VALUE "ProductName", SVM_VERSION_PRODUCT_NAME_STR
            VALUE "ProductVersion", SVM_VERSION_PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
